In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Instahyre_Project_Scraped_File.csv")
df.head()

,Title,Job Position,Location,Founded,Employees,About,Skills,Link
0,Arcana,Senior Backend Engineer,"Bangalore, Coimbatore, Work From Home",Founded in 2022,10 - 50 employees,Arcana is on a mission to revolutionize the in...,Django\nPython,https://www.instahyre.com/job-300223-senior-ba...
1,AheadRace,Senior Software Developer,Mumbai,Founded in 2014,50 - 200 employees,"Better insight, faster response, and quicker e...",Python\nDjango\nFlask\nAWS\nData Structures,https://www.instahyre.com/job-329738-senior-so...
2,Nielsen,Data Engineer,Bangalore,Founded in 1923,More than 1000 employees,Nielsen Holdings plc (NYSE: NLSN) is a global ...,Python\nAmazon RDS\nPySpark\nAirflow\nCI - CD,https://www.instahyre.com/job-329760-data-engi...
3,NetSpring,Senior Fullstack Engineer,Work From Home,Founded in 2019,10 - 50 employees,NetSpring is a cloud application platform-as-a...,React.js\nPython\nNode.js\nJavaScript\nCSS,https://www.instahyre.com/job-326595-senior-fu...
4,AheadRace,Sr. DevOps Engineer,Mumbai,Founded in 2014,50 - 200 employees,"Better insight, faster response, and quicker e...",DevOps\nDocker\nKubernetes\nAWS\nPython,https://www.instahyre.com/job-327569-sr-devops...

In [3]:
# checking no_of_rows and columns
df.shape

(997, 8)

In [4]:
df.dtypes

Title           object
Job Position    object
Location        object
Founded         object
Employees       object
About           object
Skills          object
Link            object
dtype: object

In [5]:
# Clean the skills data by replacing newline characters with commas
df['Skills'] = df['Skills'].str.replace('\n', ', ')

df.head()

,Title,Job Position,Location,Founded,Employees,About,Skills,Link
0,Arcana,Senior Backend Engineer,"Bangalore, Coimbatore, Work From Home",Founded in 2022,10 - 50 employees,Arcana is on a mission to revolutionize the in...,"Django, Python",https://www.instahyre.com/job-300223-senior-ba...
1,AheadRace,Senior Software Developer,Mumbai,Founded in 2014,50 - 200 employees,"Better insight, faster response, and quicker e...","Python, Django, Flask, AWS, Data Structures",https://www.instahyre.com/job-329738-senior-so...
2,Nielsen,Data Engineer,Bangalore,Founded in 1923,More than 1000 employees,Nielsen Holdings plc (NYSE: NLSN) is a global ...,"Python, Amazon RDS, PySpark, Airflow, CI - CD",https://www.instahyre.com/job-329760-data-engi...
3,NetSpring,Senior Fullstack Engineer,Work From Home,Founded in 2019,10 - 50 employees,NetSpring is a cloud application platform-as-a...,"React.js, Python, Node.js, JavaScript, CSS",https://www.instahyre.com/job-326595-senior-fu...
4,AheadRace,Sr. DevOps Engineer,Mumbai,Founded in 2014,50 - 200 employees,"Better insight, faster response, and quicker e...","DevOps, Docker, Kubernetes, AWS, Python",https://www.instahyre.com/job-327569-sr-devops...

In [6]:
# Modify the Title column by appending Job Position values
df['Title'] = df['Title'] + ' - ' + df['Job Position']

# Rename the Title column to Company Name
df = df.rename(columns={'Title': 'Company Name'})

# Drop the Job Position column
df = df.drop(columns=['Job Position'])

df.head()

,Company Name,Location,Founded,Employees,About,Skills,Link
0,Arcana - Senior Backend Engineer,"Bangalore, Coimbatore, Work From Home",Founded in 2022,10 - 50 employees,Arcana is on a mission to revolutionize the in...,"Django, Python",https://www.instahyre.com/job-300223-senior-ba...
1,AheadRace - Senior Software Developer,Mumbai,Founded in 2014,50 - 200 employees,"Better insight, faster response, and quicker e...","Python, Django, Flask, AWS, Data Structures",https://www.instahyre.com/job-329738-senior-so...
2,Nielsen - Data Engineer,Bangalore,Founded in 1923,More than 1000 employees,Nielsen Holdings plc (NYSE: NLSN) is a global ...,"Python, Amazon RDS, PySpark, Airflow, CI - CD",https://www.instahyre.com/job-329760-data-engi...
3,NetSpring - Senior Fullstack Engineer,Work From Home,Founded in 2019,10 - 50 employees,NetSpring is a cloud application platform-as-a...,"React.js, Python, Node.js, JavaScript, CSS",https://www.instahyre.com/job-326595-senior-fu...
4,AheadRace - Sr. DevOps Engineer,Mumbai,Founded in 2014,50 - 200 employees,"Better insight, faster response, and quicker e...","DevOps, Docker, Kubernetes, AWS, Python",https://www.instahyre.com/job-327569-sr-devops...

In [7]:
# Modify the Location column to include "Job available in [Location]"
df['Location'] = 'Job available in ' + df['Location']

df.head()

,Company Name,Location,Founded,Employees,About,Skills,Link
0,Arcana - Senior Backend Engineer,"Job available in Bangalore, Coimbatore, Work F...",Founded in 2022,10 - 50 employees,Arcana is on a mission to revolutionize the in...,"Django, Python",https://www.instahyre.com/job-300223-senior-ba...
1,AheadRace - Senior Software Developer,Job available in Mumbai,Founded in 2014,50 - 200 employees,"Better insight, faster response, and quicker e...","Python, Django, Flask, AWS, Data Structures",https://www.instahyre.com/job-329738-senior-so...
2,Nielsen - Data Engineer,Job available in Bangalore,Founded in 1923,More than 1000 employees,Nielsen Holdings plc (NYSE: NLSN) is a global ...,"Python, Amazon RDS, PySpark, Airflow, CI - CD",https://www.instahyre.com/job-329760-data-engi...
3,NetSpring - Senior Fullstack Engineer,Job available in Work From Home,Founded in 2019,10 - 50 employees,NetSpring is a cloud application platform-as-a...,"React.js, Python, Node.js, JavaScript, CSS",https://www.instahyre.com/job-326595-senior-fu...
4,AheadRace - Sr. DevOps Engineer,Job available in Mumbai,Founded in 2014,50 - 200 employees,"Better insight, faster response, and quicker e...","DevOps, Docker, Kubernetes, AWS, Python",https://www.instahyre.com/job-327569-sr-devops...

In [8]:
# checking duplicates rows in DataFrame
print(f"Total Duplicate Rows : {df.duplicated().sum()}")
print()
df[df.duplicated]

Total Duplicate Rows : 1

,Company Name,Location,Founded,Employees,About,Skills,Link
320,Ushur - Solution Engineer (AI),Job available in Bangalore,Founded in 2014,200 - 500 employees,Ushur is transforming the way businesses commu...,"Machine Learning, NLP, Python, PyTorch",https://www.instahyre.com/job-319420-solution-...

In [9]:
df.drop_duplicates(inplace=True)
print(f"Total Duplicate Rows : {df.duplicated().sum()}")

Total Duplicate Rows : 0

In [10]:
# checking Null Values in DataFrame
df.isnull().sum()

Company Name     0
Location         0
Founded          0
Employees       10
About            0
Skills           0
Link             0
dtype: int64

In [11]:
for i in df:
    df[i]=df[i].fillna(df[i].mode()[0])
df.isnull().sum()

Company Name    0
Location        0
Founded         0
Employees       0
About           0
Skills          0
Link            0
dtype: int64

In [12]:
df.columns

Index(['Company Name', 'Location', 'Founded', 'Employees', 'About', 'Skills',
       'Link'],
      dtype='object')

In [14]:
for column in df:
    print(f"Column: {column}")
    
    # Print the number of unique values in the column
    unique_count = df[column].nunique()
    print(f"Number of unique values: {unique_count}\n")
    
    if unique_count <= 100:
        print("Unique values:", df[column].unique())
    else:
        print("Too many unique values to display")
        
    print("-" * 100)

Column: Company Name
Number of unique values: 913

Too many unique values to display
----------------------------------------------------------------------------------------------------
Column: Location
Number of unique values: 40

Unique values: ['Job available in Bangalore, Coimbatore, Work From Home'
 'Job available in Mumbai' 'Job available in Bangalore'
 'Job available in Work From Home'
 'Job available in Bangalore, Work From Home' 'Job available in Gurgaon'
 'Job available in Hyderabad' 'Job available in Chennai'
 'Job available in Bangalore, Hyderabad' 'Job available in Delhi'
 'Job available in Bangalore, Hyderabad, Pune' 'Job available in Pune'
 'Job available in Noida' 'Job available in Bangalore, Gurgaon'
 'Job available in Delhi, Gurgaon, Noida' 'Job available in Greater Noida'
 'Job available in Kolkata' 'Job available in Dubai'
 'Job available in Chennai, Work From Home' 'Job available in Jaipur'
 'Job available in Bangalore, Vasco Da Gama' 'Job available in Ahmedabad'
 'Job available in Bangalore, Navi Mumbai, Panaji'
 'Job available in Bangalore, Hyderabad, Work From Home'
 'Job available in Noida, Pune' 'Job available in Trichy'
 'Job available in Bhubaneshwar' 'Job available in Kochi'
 'Job available in Coimbatore' 'Job available in Indore, Work From Home'
 'Job available in Bhillai' 'Job available in Gurgaon, Hyderabad'
 'Job available in Mohali' 'Job available in Navi Mumbai'
 'Job available in Bhopal' 'Job available in Mumbai, Navi Mumbai, Pune'
 'Job available in Bangalore, Chennai'
 'Job available in Bangalore, Mumbai'
 'Job available in Pune, Work From Home'
 'Job available in Chandigarh, Mohali, Shimla']
----------------------------------------------------------------------------------------------------
Column: Founded
Number of unique values: 57

Unique values: ['Founded in 2022' 'Founded in 2014' 'Founded in 1923' 'Founded in 2019'
 'Founded in 2021' 'Founded in 2013' 'Founded in 1912' 'Founded in 2002'
 'Founded in 2024' 'Founded in 2012' 'Founded in 1998' 'Founded in 1900'
 'Founded in 2011' 'Founded in 2023' 'Founded in 2017' 'Founded in 2010'
 'Founded in 2008' 'Founded in 2020' 'Founded in 2001' 'Founded in 2018'
 'Founded in 1993' 'Founded in 1999' 'Founded in 2015' 'Founded in 2016'
 'Founded in 2000' 'Founded in 2004' 'Founded in 2007' 'Founded in 1980'
 'Founded in 2009' 'Founded in 1985' 'Founded in 1994' 'Founded in 2005'
 'Founded in 1849' 'Founded in 1921' 'Founded in 1988' 'Founded in 1962'
 'Founded in 1996' 'Founded in 2006' 'Founded in 1990' 'Founded in 2003'
 'Founded in 1982' 'Founded in 1995' 'Founded in 1984' 'Founded in 1925'
 'Founded in 1976' 'Founded in 1989' 'Founded in 1951' 'Founded in 1876'
 'Founded in 1997' 'Founded in 1971' 'Founded in 1887' 'Founded in 1978'
 'Founded in 1973' 'Founded in 1945' 'Founded in 1969' 'Founded in 1983'
 'Founded in 1905']
----------------------------------------------------------------------------------------------------
Column: Employees
Number of unique values: 6

Unique values: ['10 - 50 employees' '50 - 200 employees' 'More than 1000 employees'
 '200 - 500 employees' '500 - 1000 employees' '0 - 10 employees']
----------------------------------------------------------------------------------------------------
Column: About
Number of unique values: 497

Too many unique values to display
----------------------------------------------------------------------------------------------------
Column: Skills
Number of unique values: 858

Too many unique values to display
----------------------------------------------------------------------------------------------------
Column: Link
Number of unique values: 996

Too many unique values to display
----------------------------------------------------------------------------------------------------

In [16]:
df.to_excel("Instahyre_Project_DataCleaning_File.xlsx")